@charset "UTF-8";
body {
  font-family: KoPubDotum_ProL;
  background-color: rgba(200, 200, 200, 0.1); }

#bk-main .bk-container {
  width: 85%;
  margin: 0 auto; }
  @media only screen and (min-width: 992px) {
    #bk-main .bk-container {
      width: 60%;
      background-color: transparent; } }
#bk-main section#bk-head {
  padding-top: 10%;
  background-color: #fff; }
  @media only screen and (min-width: 992px) {
    #bk-main section#bk-head {
      background-color: transparent; } }
  #bk-main section#bk-head #bk-card {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    border: none; }
    #bk-main section#bk-head #bk-card h1 {
      font-size: 2.8em; }
    #bk-main section#bk-head #bk-card .info-bk > p:first-child {
      font-size: 2.7em; }
    #bk-main section#bk-head #bk-card .info-contact {
      padding-top: -10%;
      text-align: right; }
    @media only screen and (min-width: 992px) {
      #bk-main section#bk-head #bk-card {
        width: 35%;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.1); }
        #bk-main section#bk-head #bk-card .info-contact {
          padding-top: 40% !important; } }
  #bk-main section#bk-head #about-bk {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: 40px auto 0; }
    #bk-main section#bk-head #about-bk .about-contents {
      padding: 20px 0;
      min-height: 100px; }
      #bk-main section#bk-head #about-bk .about-contents > div.head-desc {
        font-weight: bold;
        font-size: 1.3em;
        padding: 10px; }
#bk-main section#bk-who-am-i {
  background-color: #1B2B34; }
  #bk-main section#bk-who-am-i #bk-typed {
    text-align: center;
    color: #c5c5c5;
    font-size: 2em;
    position: relative;
    margin: 0 auto;
    height: 300px;
    white-space: pre;
    padding: 50px 0; }
#bk-main section#bk-wrapper {
  font-size: 1.1em;
  line-height: 1.68em; }
  @media only screen and (min-width: 768px) {
    #bk-main section#bk-wrapper {
      font-size: 1.25em; } }
  #bk-main section#bk-wrapper .no-indent {
    text-indent: 0 !important; }
  #bk-main section#bk-wrapper > div.bk-container {
    margin-bottom: 50px; }
#bk-main section#bk-portfolio {
  position: relative; }
  #bk-main section#bk-portfolio .bk-container {
    line-height: 1.55em;
    font-size: 1.1em; }
    #bk-main section#bk-portfolio .bk-container h3 {
      color: rgba(48, 48, 48, 0.8);
      text-align: center !important; }
  #bk-main section#bk-portfolio .bk-container > div {
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 0; }
    #bk-main section#bk-portfolio .bk-container > div a {
      color: #333333;
      text-decoration: underline; }
  #bk-main section#bk-portfolio #tyle-landing-screenshot {
    background-image: url("./public/imgs/tyle-landing.jpg"); }
  #bk-main section#bk-portfolio #bk-invite-screenshot {
    background-image: url("./public/imgs/invite-bkbj.jpg"); }
  #bk-main section#bk-portfolio #bk-introduce-screenshot {
    background-image: url("./public/imgs/bk-introduce.jpg"); }
  #bk-main section#bk-portfolio #bk-ckoverflow-screenshot {
    background-image: url("./public/imgs/chicken-overflow.jpg"); }
  #bk-main section#bk-portfolio #bk-interview-screenshot {
    background-image: url("./public/imgs/gpeople-bk.jpg"); }
  #bk-main section#bk-portfolio #bk-interview-b-screenshot {
    background-image: url("./public/imgs/team-interview.jpg"); }
  #bk-main section#bk-portfolio #bk-ckoverflow h2 span {
    font-family: Arial; }
  #bk-main section#bk-portfolio .ck-logo {
    width: 35px;
    vertical-align: bottom; }
#bk-main .pic-thumb {
  text-indent: -99999em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  margin: 0 auto;
  min-height: 345px;
  color: transparent; }
#bk-main .piccaption {
  font-size: 0.8em;
  opacity: 0.4; }
#bk-main .type-reserved-word {
  color: #c594c5; }
#bk-main .type-variable {
  color: #fff; }
#bk-main #footer {
  padding: 20px;
  color: #e0e0e0;
  font-size: 1.4em;
  text-align: center;
  background-color: #1B2B34; }
#bk-main p {
  word-break: break-all;
  margin: 0 0 15px;
  text-indent: 7px; }
#bk-main h3 {
  font-weight: bold;
  margin-bottom: 15px; }
#bk-main > section {
  padding: 30px 0; }
#bk-main > section:nth-child(even) {
  background-color: #f0f0f0; }
#bk-main a:focus {
  outline: none; }
#bk-main hr {
  border-top: 1px solid #d2d2d2; }

html.no-touch #table-content:before {
  content: '목차';
  font-size: 1.2em;
  margin-left: 14px; }
@media only screen and (min-width: 992px) {
  html.no-touch #table-content {
    position: absolute;
    left: 30px;
    top: 30px; }
    html.no-touch #table-content a {
      -webkit-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear;
      opacity: 0.35;
      text-decoration: none; }
      html.no-touch #table-content a.active {
        opacity: 1;
        text-decoration: #333 underline; } }

@font-face {
  font-family: 'KoPubDotum_ProL';
  src: url('./public/fonts/KoPubDotum_ProL.woff') format('woff'); }

@font-face {
  font-family: 'KoPubBatang_ProL.woff';
  src: url('./public/fonts/KoPubBatang_ProL.woff.woff') format('woff'); }

@font-face {
  font-family: 'notoSans_ko_regular.woff';
  src: url('./public/fonts/notoSans_ko_regular.woff.woff') format('woff'); }

@font-face {
  font-family: 'NanumMyeongjo.woff';
  src: url('./public/fonts/NanumMyeongjo.woff.woff') format('woff'); }